.search {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(57 64 92);
  border-radius: 0px 0px 50px 50px;
}

.wrapp {
  display: flex;
}

.input {
  padding: 10px;
  border-radius: 8px;
  margin-right: 8px;
  border: 1.5px solid rgb(32, 35, 41);
}
