.characters {
  min-width: 50%;
}

.characters__section {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(32, 35, 41);
  border-radius: 50px 50px 0 0;
}

.characters__loading {
  font-size: 24px;
  color: white;
  text-align: center;
}

.characters__not-found {
  padding: 0 20px;
}

.characters__not-found p {
  font-size: 26px;
  color: white;
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1920px;
}

.item {
  display: flex;
  overflow: hidden;
  background: rgb(60, 62, 68);
  border-radius: 16px;
  margin: 6px;
  color: white;
}

img {
  width: 100%;
  height: 100%;
}

.item__wrapp {
  padding: 10px;
}

.item__title {
  display: flex;
  color: rgb(183, 153, 0);
}

.item__subtitle {
  display: flex;
  color: rgb(178, 174, 174);
}

.item__additional {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
